.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: .1rem;
}

.sheet {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5rem;
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    padding: 1rem;
}
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: azure;
    padding: 1rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border-radius: 2px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    margin: 1.5rem;
    min-width: fit-content;
}
.section p {
    margin-inline: .5rem;
}
.section h2 {
    width: 100%;
    text-align: center;
}
.section table {
    text-align: center;
    background-color:rgb(165, 193, 212);
    padding: .75rem;
    padding-inline: 1rem;
    border-radius: 5px;
    /* border: 1px solid; */
    /* border-collapse: collapse; */
    
}
.section table th {
    text-align: center;
    border-bottom: 2px solid;
    padding-inline: .2rem;
}
.section table td {
    padding-inline: .2rem;
}

.hpCard {
    padding-top:.5rem;
    padding-bottom:.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(165, 193, 212);
    border-radius: 2px;
    max-width: 25%;
    margin-inline-end: 2rem;
}
.hpCard h3{
    margin-inline-end: .4rem;
    text-align: center;
}
.hpCard h4 {    
    border-radius: 5px;
    padding: .1rem;
    margin: 0;
}
.hpCard input {
    margin-inline: .4rem;
    width: 4rem;
}

.currentHPDisplay {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.currentHPDisplay table tbody {
    text-align: center;
}
.currentHPDisplay table thead{
    margin-top: .1rem;
    font-size: x-small;
}
.currentHPDisplay .row p {
    margin-bottom: .1rem;
}
.conditionTracker{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: .2rem;
    padding: .3rem;
    background-color:rgb(94, 121, 138);
    border-radius: 2px;
}
.conditionCard{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(165, 193, 212);
    border-radius: 2px;
    padding: .5rem;
    padding-inline: .3rem;
    margin-inline: .2rem;
    min-width:4rem;
    text-align: center;
}
.conditionCard button {
    min-height: 1.2rem;
    min-width: 2rem;
}

.longCard {
    display: flex;
    flex-direction: column;
    background-color:rgb(165, 193, 212);
    border-radius: 2px;
    padding: .5rem;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.longCard h3 {
    text-align: center;
    margin-top: .2rem;
    margin-bottom: .2rem;
}
.longCard tbody {
    text-align: center;
}
.longCard thead {
    font-size: x-small;
}

.boldCell {
    padding-inline: .7rem;
    border-radius: 2px;
    background-color: azure;
}